        * {
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background: url("../asset/BG_PROJEK.jpg") no-repeat center center/cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-box {
            background: #fff;
            width: 400px;
            padding: 40px 40px 30px;
            border-radius: 20px;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
            color: #93BAFF;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 30px;
        }

        .login-box input[type="text"],
        .login-box input[type="password"] {
            width: 100%;
            padding: 10px 5px;
            margin: 10px 0 20px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            color: #333;
        }

        .login-box button {
            background: #93BAFF;
            border: none;
            color: white;
            padding: 12px 0;
            width: 100%;
            border-radius: 8px;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 4px 8px rgba(147, 186, 255, 0.3);
        }

        .login-box button:hover {
            background: #82acf8;
            transform: scale(1.02);
        }

        .register-link {
            margin-top: 20px;
            font-size: 13px;
            color: #555;
        }

        .register-link a {
            color: #93BAFF;
            text-decoration: none;
            font-weight: 500;
        }

        .register-link a:hover {
            text-decoration: underline;
        }

        .error-message {
            color: red;
            font-size: 13px;
            margin-bottom: 15px;
        }

        .show-pass {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 13px;
            color: #555;
        }

        .show-pass input {
            margin-right: 5px;
        }
